
  <div class="container-fluid pt-5 pt-md-8" style="background: rgba(249,249,249,1);">
  <div class="row pt-5">
    <div class="col-xl-8 mb-5 mb-xl-0">
      <div class="card cardSty p-3">
        <div class="card-header border-0 bg-transparent">
          <div class="row p-0 m-0">
            <div class="col-6 d-flex align-items-end justify-content-start">
              <div class="cT">145,678</div>
               <div class="cP mb-1 ml-2">TOTAL NUMBER OF TAGS ISSUED</div>
             </div>
             <div class="col-6 d-flex justify-content-end mr--8">
              <div class="row p-0 m-0"><div class="pUp mr-2">+3.48% </div>
              <div class="pT">Since last month </div></div>
              </div>
          </div>
          
        </div>
        <div class="card-body">
          <!-- Chart -->
          <div class="chart">
            <!-- Chart wrapper -->
            <canvas id="chart-sales" class="chart-canvas"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4">
      <div class="card cardSty p-3">
        <div class="card-header bg-transparent">
          <div class="row p-0 m-0">
            <div class="col-6 d-flex align-items-end justify-content-start">
              <div class="cH">Issued Tag Types</div>
             </div>
             <div class="col-6 d-flex justify-content-end mr--8">
              <div class="btn-group">
                <button type="button" class="btn btn-outline-light dropdown-toggle cDbtn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  This week
                </button>
              </div>
              </div>
          </div>
        </div>
        <div class="card-body">
          <!-- Chart -->
          <div class="chart">
            <canvas id="chart-orders" class="chart-canvas"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row pt-5">
    <div class="col-xl-6 mb-5 mb-xl-0">
      <div class="card p-5  cardSty">
        
        <div class="row p-3">
          <div class="col-7">
            <div class="dH">145,678</div>
            <div class="dP">TOTAL NUMBER OF TAGS ISSUED</div>
          </div>
          <div class="col-5 d-flex align-items-center">
            <div class="row p-0 m-0"><div class="pUp mr-2">+3.48% </div>
            <div class="pT">Since last month </div></div>
          </div>
        </div>

        <div class="row p-3">
          <div class="col-7">
            <div class="dH">145,678</div>
            <div class="dP">TOTAL NUMBER OF TAGS ISSUED</div>
          </div>
          <div class="col-5 d-flex align-items-center">
            <div class="row p-0 m-0"><div class="pDown mr-2">-2.13% </div>
            <div class="pT">Since last month </div></div>
          </div>
        </div>

        <div class="row p-3">
          <div class="col-7">
            <div class="dH">145,678</div>
            <div class="dP">TOTAL NUMBER OF TAGS ISSUED</div>
          </div>
          <div class="col-5 d-flex align-items-center">
            <div class="row p-0 m-0"><div class="pUp mr-2">+3.48% </div>
            <div class="pT">Since last month </div></div>
          </div>
        </div>

        <div class="row p-3">
          <div class="col-7">
            <div class="dH">145,678</div>
            <div class="dP">TOTAL NUMBER OF TAGS ISSUED</div>
          </div>
          <div class="col-5 d-flex align-items-center">
            <div class="row p-0 m-0"><div class="pUp mr-2">+3.48% </div>
            <div class="pT">Since last month </div></div>
          </div>
        </div>

      </div>
    </div>
    <div class="col-xl-6">
      <div class="card cardSty">
        <div class="card-header border-0 bg-transparent">
          <div class="col d-flex align-items-end justify-content-start">
            <div class="cT">55,678</div>
             <div class="cP mb-1 ml-2">TOTAL NUMBER OF ACCOUNT</div>
           </div>
        </div>
        <div class="card-body">
          <!-- Chart -->
          <div class="chart">
            <canvas id="chart-orders" class="chart-canvas"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row pt-5">
    <div class="col-xl-8 mb-5 mb-xl-0">
      <div class="card cardSty p-3">
        <div class="card-header border-0 bg-transparent">
          <div class="row p-0 m-0">
            <div class="col-5 d-flex align-items-end justify-content-start">
              <div class="cT">5,678</div>
               <div class="cP mb-1 ml-2">TOTAL TRANSACTION</div>
             </div>
             <div class="col-7 d-flex justify-content-end mr--8">
              <div class="btn-group pr-3">
                <button type="button" class="btn btn-outline-light dropdown-toggle cDbtn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  This week
                </button>
              </div>
              <div class="btn btnPV">Private Vehicles</div>
              <div class="btn btnCV">Commercial Vehicles</div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <!-- Chart -->
          <div class="chart">
            <!-- Chart wrapper -->
            <canvas id="chart-sales" class="chart-canvas"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4">
      <div class="card cardSty p-3">
        <div class="card-header border-0 bg-transparent">
          <div class="row p-0 m-0">
            <div class="col-6 d-flex align-items-end justify-content-start">
              <div class="cH">Issued Tag Types</div>
             </div>
             <div class="col-6 d-flex justify-content-end mr--8">
              <img src="../../../assets/img/icons/dashboard/12.svg" alt="icon">
              </div>
          </div>
        </div>
        <div class="card-body">
          <!-- Chart -->
          <div class="chart">
            <canvas id="chart-orders" class="chart-canvas"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row pt-5">
    <div class="col-xl-6 mb-5 mb-xl-0">
      <div class="card cardSty p-3">
        <div class="card-header border-0 bg-transparent">
          <div class="row p-0 m-0">
            <div class="col d-flex align-items-end justify-content-start">
              <div class="cH">Average Recharge Per Account</div>
             </div>
          </div>
          <div class="row p-2 px-4">
            <div class="btn btn-outline-light cDbtn">Type Account number here...</div>
            <div class="btn btn-outline-light cDbtn">MM-YYYY to MM-YYYY <i class="ni ni-calendar-grid-58 pl-3"></i></div>
          </div>
        </div>
        <div class="card-body">
          <!-- Chart -->
          <div class="chart">
            <!-- Chart wrapper -->
            <canvas id="chart-sales" class="chart-canvas"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-6">
      <div class="card cardSty p-3">
        <div class="card-header border-0 bg-transparent">
          <div class="row p-0 m-0">
            <div class="col d-flex align-items-end justify-content-start">
              <div class="cH">Average Recharge Per Account</div>
             </div>
          </div>
          <div class="row p-2 px-4">
            <div class="btn btn-outline-light cDbtn">DD-MM-YYYY <i class="ni ni-calendar-grid-58 pl-3"></i></div>
            <span class="text-center p-2">to</span>
            <div class="btn btn-outline-light cDbtn">DD-MM-YYYY <i class="ni ni-calendar-grid-58 pl-3"></i></div>
          </div>
        </div>
        <div class="card-body">
          <!-- Chart -->
          <div class="chart">
            <canvas id="chart-orders" class="chart-canvas"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row pt-5">
    <div class="col-xl-8 mb-5 mb-xl-0">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col">
              <h6 class="text-uppercase text-light ls-1 mb-1">Overview</h6>
              <h2 class=" mb-0">Collection</h2>
            </div>
            <div class="col">
              <ul class="nav nav-pills justify-content-end">
                <li class="nav-item mr-2 mr-md-0" data-toggle="chart" data-target="#chart-sales"  (click)="data=datasets[0];updateOptions()">
                  <a href="javascript:void(0)" class="nav-link py-2 px-3"  data-toggle="tab" (click)="clicked=true;clicked1=false">
                    <span class="d-none d-md-block">Month</span>
                    <span class="d-md-none">M</span>
                  </a>
                </li>
                <li class="nav-item" data-toggle="chart" data-target="#chart-sales"  (click)="data=datasets[1];updateOptions()">
                  <a href="javascript:void(0)" class="nav-link py-2 px-3"  data-toggle="tab" (click)="clicked=false;clicked1=true">
                    <span class="d-none d-md-block">Week</span>
                    <span class="d-md-none">W</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card-body">
          <!-- Chart -->
          <div class="chart">
            <!-- Chart wrapper -->
            <canvas id="chart-sales" class="chart-canvas"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4">
      <div class="card cardSty">
        <div class="card-header border-0 bg-transparent">
          <div class="row p-0 m-0">
            <div class="col-10 ">
              <div class="cH">Top Revenue Generating Vehicles</div>
              <div class="cP">from Dec 20, 2020</div>
             </div>
             <div class="col-2 d-flex justify-content-end mr--8">
              <img width="15%" src="../../../assets/img/icons/dashboard/12.svg" alt="icon">
              </div>
          </div>
        </div>
        <div class="card-body">
          <!-- Chart -->
          <div class="chart">
            <canvas id="chart-orders" class="chart-canvas"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
  

</div>