.navStyle{
    background: rgba(253,254,255,1);
}

.navI{
    width: 90%;
    color: rgba(40,40,40,1);
    
}

.navI:hover{
    border: 1px solid rgba(53,53,105,1);
    border-radius: 15px;
    
}

.navI .active{
    color: rgba(249,249,249,1);
    background: rgba(53,53,105,1);
    border-radius: 15px;
}

.nav-link{

}