// .scroll{
//     overflow-x: scroll !important;
//     overflow-y: scroll !important;
   
// }

// .btnMain{
//     border-radius: 10px;
// }
// .btn:not(:last-child) {
//     margin-right: 1.5rem;
// }
// .tableHeader{
//     font-weight: bold;
// }

.mat-table {
    width: 100%;
  }
  .mat-header-cell {
    color: rgba(53, 53,105,1);
    font-family: Open sans;
    font-weight: bold;
    font-size: 15px;
    text-align: left;
    // padding: 10px;    
  }