<div class="container-fluid h-100vh p-8">
  <div class="card p-3">
    <div class="row px-5 d-flex justify-content-end">
      <div class="col"><div class="tH d-flex justify-content-start">PASS MANAGEMENT</div></div>
      <!-- <div class="col-8">
        <button type="button"  (click) = "openModal()" class="btn btn-outline-success btnMain">
          <span class="btn-inner--icon"><i class="fas fa-plus"></i></span>
          <span class="btn-inner--text">Add Tag</span>
        </button>
        <button type="button" class="btn btn-outline-success btnMain">
          <span class="btn-inner--icon"><i class="fas fa-pen"></i></span>
          <span class="btn-inner--text" (click) = "updateData()">Update tag</span>
        </button>
        <button type="button" class="btn btn-outline-success btnMain">
          <span class="btn-inner--icon"><i class="fas fa-trash"></i></span>
          <span class="btn-inner--text" (click) = "removeData()">Delete Tag</span>
        </button>
        <button type="button" class="btn btn-outline-success btnMain">
          <span class="btn-inner--icon"><i class="ni ni-cloud-download-95"></i></span>
          <span class="btn-inner--text" (click) = "csvExport()">Export CSV</span>
        </button>
      </div> -->

      <div class="col-8">
        <button type="button" (click)="openDialog()" class="btn btn-outline-success btnMain">
          <span class="btn-inner--icon"><i class="fas fa-plus"></i></span>
          <span class="btn-inner--text">Add Tag</span>
        </button>
      
        <button type="button" *ngIf="isItemSelected" class="btn btn-outline-warning btnMain" 
          (click)="openDialog()">
          <span class="btn-inner--icon"><i class="fas fa-edit"></i></span>
          <span class="btn-inner--text">Update Tag</span>
        </button>
        
        <button type="button" *ngIf="isItemSelected" 
          (click)="removeData()" class="btn btn-outline-danger btnMain">
          <span class="btn-inner--icon"><i class="fas fa-trash"></i></span>
          <span class="btn-inner--text">Remove Tag</span>
        </button>
      </div>
     
  </div>
  
  <!-- <div class="row scroll"> -->
  <div class="row px-5 pt-3">

    <mat-table [dataSource]="passData" class="mat-elevation-z8">

      <!-- Checkbox Column -->
      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef> # </mat-header-cell>
        <mat-cell *matCellDef="let element; index as i">
          <mat-checkbox [checked]="element.select" (change)="onSelect(i)"></mat-checkbox>
        </mat-cell>
      </ng-container>
  
      <!-- Plaza Column -->
      <ng-container matColumnDef="plaza">
        <mat-header-cell *matHeaderCellDef> PLAZA </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.plaza}} </mat-cell>
      </ng-container>
  
      <!-- Lane Column -->
      <ng-container matColumnDef="lane">
        <mat-header-cell *matHeaderCellDef> LANE </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.lane}} </mat-cell>
      </ng-container>
  
      <!-- Message Time Column -->
      <ng-container matColumnDef="msgTime">
        <mat-header-cell *matHeaderCellDef> MESSAGE TIME </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.msgTime}} </mat-cell>
      </ng-container>
  
      <!-- Account Number Column -->
      <ng-container matColumnDef="accNum">
        <mat-header-cell *matHeaderCellDef> ACCOUNT NUMBER </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.accNum}} </mat-cell>
      </ng-container>
  
      <!-- Tag Agency Column -->
      <ng-container matColumnDef="tagAge">
        <mat-header-cell *matHeaderCellDef> TAG AGENCY </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.tagAge}} </mat-cell>
      </ng-container>
  
      <!-- Tag Number Column -->
      <ng-container matColumnDef="tagNum">
        <mat-header-cell *matHeaderCellDef> TAG NUMBER </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.tagNum}} </mat-cell>
      </ng-container>
  
      <!-- Tag Status Column -->
      <ng-container matColumnDef="tagStatus">
        <mat-header-cell *matHeaderCellDef> TAG STATUS </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.tagStatus}} </mat-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <!-- <table class="table table-sm table-striped">
      <thead class="tableHeader">
        <tr>
          <th class="tableHeader btn" (click) = "toggleView()" scope="col">#</th>
          <th class="tableHeader" scope="col">PLAZA</th>
          <th class="tableHeader" scope="col">LANE</th>
          <th class="tableHeader" scope="col">MESSAGE TIME</th>
          <th class="tableHeader" scope="col">ACCOUNT NUMBER</th>
          <th class="tableHeader" scope="col">TAG AGENCY</th>
          <th class="tableHeader" scope="col">TAG NUMBER</th>
          <th class="tableHeader" scope="col">TAG STATUS</th>
          <th class="tableHeader" scope="col">TOLL PAID</th>
          <th class="tableHeader" scope="col">PRIOR BALANCE</th>
          <th class="tableHeader" scope="col">NEW BALANCE</th>
          <th class="tableHeader" scope="col">CLASS</th>
          <th class="tableHeader" scope="col">NO. OF AXLES</th>
          <th class="tableHeader" scope="col">VEHICLE SPEED</th>
          <th class="tableHeader" scope="col">LICENSE PLATE</th>
          <th class="tableHeader" scope="col">IMAGEURL1</th>
          <th class="tableHeader" scope="col">IMAGEURL2</th>
          <th class="tableHeader" scope="col">IMAGEURL3</th>
          <th class="tableHeader" scope="col">IMAGEURL4</th>
          <th class="tableHeader" scope="col">SOURCE IP ADDRESS</th>
          <th class="tableHeader" scope="col">RECORD TRANSMIT TIME</th>
          <th class="tableHeader" scope="col">RECORD RECIEVED TIME</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let p of passData; index as i">
          <th scope="row">
            <div class="d-none" id="numShow">
              {{i+1}}
            </div>
            <div class="form-check d-block" id="checkShow">
              <input class="form-check-input" type="checkbox" id="flexCheckDefault" [checked]="p.select" (change)="onSelect(i)" >
            </div>
          </th>
          <td>{{p.plaza}}</td>
          <td>{{p.lane}}</td>
          <td>{{p.msgTime}}</td>
          <td>{{p.accNum}}</td>
          <td>{{p.tagAge}}</td>
          <td>{{p.tagNum}}</td>
          <td>{{p.tagStatus}}</td>
        </tr>
      </tbody>
    </table> -->
  </div>
  </div>
  <!-- </div> -->
</div>



<!-- <div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':display}">
  <div class="modal-dialog" role="document">
        <div class="modal-content">
              <div class="modal-header p-1">
                    <h4 class="modal-title">Add Data</h4>
                    <button type="button" class="close" aria-label="Close" (click)="onCloseHandled()"><span aria-hidden="true">&times;</span></button>
                  </div>
         <div class="modal-body">
          <form [formGroup]="dataForm">
            <div class="form-group p-1 m-0">
              <label for="exampleInputEmail1">PLAZA</label>
              <input type="text" formControlName="plaza" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Plaza Name">
            </div>
            <div class="form-group p-1 m-0">
              <label for="exampleInputPassword1">LANE</label>
              <input type="text" formControlName="lane" class="form-control" id="exampleInputPassword1" placeholder="Enter Lane Number">
            </div>
            <div class="form-group p-1 m-0">
              <label for="exampleInputPassword1">MESSAGE TIME</label>
              <input type="text" formControlName=" msgTime" class="form-control" id="exampleInputPassword1" placeholder="Enter Message Time">
            </div>
            <div class="form-group p-1 m-0">
              <label for="exampleInputPassword1">ACCOUNT NUMBER</label>
              <input type="text" formControlName="accNum" class="form-control" id="exampleInputPassword1" placeholder="Enter Account Number">
            </div>
            <div class="form-group p-1 m-0">
              <label for="exampleInputPassword1">TAG AGENCY</label>
              <input type="text" formControlName="tagAge" class="form-control" id="exampleInputPassword1" placeholder="Enter Tag Agency Name">
            </div>
            <div class="form-group p-1 m-0">
              <label for="exampleInputPassword1">TAG NUMBER</label>
              <input type="text" formControlName="tagNum" class="form-control" id="exampleInputPassword1" placeholder="Enter Tag Number">
            </div>
            <div class="form-group p-1 m-0">
              <label for="exampleInputPassword1">TAG STATUS</label>
              <input type="text" formControlName="tagStatus" class="form-control" id="exampleInputPassword1" placeholder="Enter Tag Status">
            </div>
            
          </form>
              <div class="modal-footer">
                    <button type="button" class="btn btn-default" (click)="onCloseHandled()" >Close</button>
                    <button type="submit" class="btn btn-primary" (click)="addData()" >Submit</button>
                  </div>
     </div>
      </div>
</div> -->

 