<div class="container-fluid h-100vh p-8">
  <div class="card p-3">
    <div class="row px-5 d-flex justify-content-end">
      <!-- <div class="col">
        <div class="tH d-flex justify-content-start">PASS MANAGEMENT</div>
      </div> -->
      <!-- <div class="col">
        <button mat-button (click)="openDialogCSList()">Open dialog</button>
      </div> -->

      <div class="col-8 d-flex justify-content-end">
        <button type="button" (click)="openDialog()" class="btn btn-primary btnMain">
          <span class="btn-inner--icon"><i class="fas fa-plus"></i></span>
          <span class="btn-inner--text">Add Tag</span>
        </button>

        <button type="button" *ngIf="isItemSelected" class="btn btn-primary btnMain" (click)="openDialog()">
          <span class="btn-inner--icon"><i class="fas fa-edit"></i></span>
          <span class="btn-inner--text">Update Tag</span>
        </button>

        <button type="button" *ngIf="isItemSelected" (click)="removeData()" class="btn btn-primary btnMain">
          <span class="btn-inner--icon"><i class="fas fa-trash"></i></span>
          <span class="btn-inner--text">Remove Tag</span>
        </button>
        <button type="button" class="btn btn-primary btnMain">
          <span class="btn-inner--icon"><i class="ni ni-cloud-download-95"></i></span>
          <span class="btn-inner--text" (click)="csvExport()">Export CSV</span>
        </button>
        <button type="button" [style.display]="editDisplayProperty" class="btn btn-primary btnMain"
          (click)="editColumn()">
          <span class="btn-inner--text">Edit</span>
        </button>
        <button type="button" [style.display]="saveDisplayProperty" class="btn btn-success btnMain"
          (click)="saveColumn()">
          <span class="btn-inner--text">SAVE</span>
        </button>
      </div>
    </div>

    <div class="row px-5 pt-3">
      <div class="mat-elevation-z8 m-12 table-container">
        <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">
          <ng-container [matColumnDef]="column" *ngFor="let column of checkedColumns; index as i">
            <th mat-header-cell *matHeaderCellDef>
              <mat-checkbox [style.display]="checkDisplayProperty" [(ngModel)]="checkedItems[i]"></mat-checkbox>
              {{ capitalizeString(column) }}
            </th>
            <td mat-cell *matCellDef="let element" >{{ element[column] }}</td>
          </ng-container>

          <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef> # </th>
            <td mat-cell *matCellDef="let element; dataIndex as i">
              <mat-checkbox [checked]="element.select" (change)="onSelect(i)" ></mat-checkbox>
            </td>
          </ng-container>

          <ng-container matColumnDef="expand">
            <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button aria-label="expand row" (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation()">
                <mat-icon *ngIf="expandedElement !== element"><i class="ni ni-bold-down"></i></mat-icon>
                <mat-icon *ngIf="expandedElement === element"><i class="ni ni-bold-up"></i></mat-icon>
              </button>
            </td>
          </ng-container>

          <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let element" [attr.colspan]="expandDisplayedColumns.length">
              <div class="example-element-detail" [@detailExpand]="
                  element == expandedElement ? 'expanded' : 'collapsed'
                ">
                <div class="container-fluid pl-8 p-3">
                  <div class="row">
                    <div class="col-3">
                      <div class="row">
                        <div class="col-3 d-flex justify-content-end">
                          <span class="avatar avatar-sm rounded-circle bg-white ">
                            <img alt="Image placeholder" src="../../../assets/img/vivek.png">
                          </span>
                        </div>
                        <div class="col-9">
                          <h3>User Delrio Pass</h3>
                        </div>
                      </div>
                    </div>
                    <div class="col-8">
                      <div class="row">
                        <div class="col-2">
                          <h3>Tag Number: </h3>
                          <h5>DRBP00235</h5>
                        </div>
                        <div class="col-2">
                          <h3>Tag Status: </h3>
                          <h5>Active</h5>
                        </div>
                        <div class="col-2">
                          <h3>Account Number: </h3>
                          <h5>123456</h5>
                        </div>
                        <div class="col-2">
                          <h3>Balance: </h3>
                          <h5>$85</h5>
                        </div>
                        <div class="col-4"></div>
                      </div>
                      <div class="row pt-3">
                        <div class="col-2">
                          <h3>Image-1: </h3>
                          <img class="imgEX" src="../../../assets/img/theme/imgWall.jpg">
                        </div>
                        <div class="col-2">
                          <h3>Image-2: </h3>
                          <img class="imgEX" src="../../../assets/img/theme/imgWall.jpg">
                        </div>
                        <div class="col-2">
                          <h3>Image-3: </h3>
                          <img class="imgEX" src="../../../assets/img/theme/imgWall.jpg">
                        </div>
                        <div class="col-2">
                          <h3>Image-4: </h3>
                          <img class="imgEX" src="../../../assets/img/theme/imgWall.jpg">
                        </div>
                        <div class="col-4"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="expandDisplayedColumns"></tr>
          <tr mat-row *matRowDef="let element; columns: expandDisplayedColumns" class="example-element-row"
            [class.example-expanded-row]="expandedElement === element"
            (click)="expandedElement = expandedElement === element ? null : element
            "></tr>
          <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row" ></tr>
        </table>
      </div>
    </div>
  </div>
</div>
