<div class="container-fluid h-100vh">
  <div class="row pt-7 px-5 d-flex justify-content-end">
    <button type="button"  (click) = "navigationChange()" class="btn btn-primary btn-lg p-3 m-3">
      <span class="btn-inner--icon px-3"><i class="fas fa-plus"></i></span>
      <span class="btn-inner--text">Add Tag</span>
    </button>
    <button type="button" class="btn btn-info btn-lg p-3 m-3">
      <span class="btn-inner--icon px-3"><i class="fas fa-pen"></i></span>
      <span class="btn-inner--text">Update tag</span>
    </button>
    <button type="button" class="btn btn-warning btn-lg p-3 m-3">
      <span class="btn-inner--icon px-3"><i class="fas fa-trash"></i></span>
      <span class="btn-inner--text">Delete Tag</span>
    </button>
</div>


<div class="row px-5 pt-3">
  <table class="table table-sm table-light">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Tag Number</th>
        <th scope="col">Vehicle Number</th>
        <th scope="col">Balance</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>DRBP00235</td>
        <td>LHD8448</td>
        <td>$653</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>DRBP00236</td>
        <td>LHD2468</td>
        <td>$564</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>DRBP00238</td>
        <td>LHD8456</td>
        <td>$456</td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>DRBP00245</td>
        <td>LHD5894</td>
        <td>$456</td>
      </tr>
      <tr>
        <th scope="row">5</th>
        <td>DRBP00335</td>
        <td>LHD8457</td>
        <td>$456</td>
      </tr>
      <tr>
        <th scope="row">6</th>
        <td>DRBP00357</td>
        <td>LHD8448</td>
        <td>$653</td>
      </tr>
      <tr>
        <th scope="row">7</th>
        <td>DRBP00258</td>
        <td>LHD2468</td>
        <td>$564</td>
      </tr>
      <tr>
        <th scope="row">8</th>
        <td>DRBP00358</td>
        <td>LHD8456</td>
        <td>$456</td>
      </tr>
      <tr>
        <th scope="row">9</th>
        <td>DRBP00359</td>
        <td>LHD5894</td>
        <td>$456</td>
      </tr>
      <tr>
        <th scope="row">10</th>
        <td>DRBP00364</td>
        <td>LHD8457</td>
        <td>$456</td>
      </tr>
      <tr>
        <th scope="row">11</th>
        <td>DRBP00357</td>
        <td>LHD8448</td>
        <td>$653</td>
      </tr>
      <tr>
        <th scope="row">12</th>
        <td>DRBP00258</td>
        <td>LHD2468</td>
        <td>$564</td>
      </tr>
      <tr>
        <th scope="row">13</th>
        <td>DRBP00358</td>
        <td>LHD8456</td>
        <td>$456</td>
      </tr>
      <tr>
        <th scope="row">14</th>
        <td>DRBP00359</td>
        <td>LHD5894</td>
        <td>$456</td>
      </tr>
      <tr>
        <th scope="row">15</th>
        <td>DRBP00364</td>
        <td>LHD8457</td>
        <td>$456</td>
      </tr>
    </tbody>
  </table>
</div>

</div>

 

 