<div class="container-flud pt-8">
<div class="row px-8 py-2">
    <div class="col-8">
        <div class="card p-3 cardStyle cardImg1">
        </div>
    </div>
    <div class="col-4">
        <div class="card p-3 cardStyle cardImg2">
        </div>
    </div>
</div>
<div class="row px-8 py-2">
    <div class="col-6">
        <div class="card p-3 cardStyle cardImg3">
        </div>
    </div>
    <div class="col-6">
        <div class="card p-3 cardStyle cardImg4">
        </div>
    </div>
</div>
<div class="row px-8 py-2">
    <div class="col-8">
        <div class="card p-3 cardStyle cardImg5">
        </div>
    </div>
    <div class="col-4">
        <div class="card p-3 cardStyle cardImg6">
        </div>
    </div>
</div>
<div class="row px-8 py-2">
    <div class="col-6">
        <div class="card p-3 cardStyle cardImg7">
        </div>
    </div>
    <div class="col-6">
        <div class="card p-3 cardStyle cardImg8">
        </div>
    </div>
</div>
<div class="row px-8 py-2">
    <div class="col-8">
        <div class="card p-3 cardStyle cardImg9">
        </div>
    </div>
    <div class="col-4">
        <div class="card p-3 cardStyle cardImg10">
        </div>
    </div>
</div>

</div>