.cardTop{
    background: rgba(253,254,255,1);
    border-radius: 20px;
    box-shadow: 2px 9px 18px rgba(0, 0, 0, 0.019999999552965164);
}


.cardTopH{
    color: rgba(53,53,105,1);
    font-family: Open Sans;
    font-weight: SemiBold;
    font-size: 24px;
    text-align: left;
}

.cardTopP{
    color: rgba(132,132,132,1);
    font-family: Open Sans;
    font-weight: Regular;
    font-size: 14px;
    text-align: left;
}

.cardFooterUp{
    color: rgba(137,197,65,1);
    font-family: Open Sans;
    font-weight: SemiBold;
    font-size: 14px;
    text-align: left;
  
}

.cardFooterDown{
  color: rgba(226,115,125,1);
  font-family: Open Sans;
  font-weight: SemiBold;
  font-size: 14px;
  text-align: left;
}

.chartButton{
    background: rgba(217,217,217,1);
    border-radius: 10px;
}

.chartButton:hover{
    border: 1px solid rgba(53,53,105,1);
    border-radius: 15px;
}

.chartButton .active{
    background: rgba(137,197,65,1);
    border-radius: 10px;
}
.CardH{
  color: rgba(53,53,105,1);
  font-family: Open Sans;
  font-weight: SemiBold;
  font-size: 18px;
  text-align: left;
}

.CardP{
    color: rgba(132,132,132,1);
    font-family: Open Sans;
    font-weight: SemiBold;
    font-size: 14px;
    text-align: left;
  }
