<div>
    <div class="head"></div>
    <div class="pt-6 p-4">
        <div class="row p-3">
            <div class="card p-3 cardStyle1 d-flex justify-content-center" [ngClass]="{'defaultTheme': selectedTheme === 'default', 'casualTheme': selectedTheme === 'casual', 'darkTheme': selectedTheme === 'dark'}">
                <form class="formMain">
                    <div class="row">
                      <div class="col">
                            <div class="form-group row pl-8">
                            <label for="inputEmail3" class="col-sm-3 col-form-label">First Name</label>
                            <div class="col-sm-9">
                              <input type="email" class="form-control" id="inputEmail3" placeholder="Charlotte">
                            </div>
                            </div>
                      </div>
                      <div class="col">
                        <div class="form-group row pr-8">
                            <label for="inputEmail3" class="col-sm-3 col-form-label">Last Name</label>
                            <div class="col-sm-9">
                              <input type="email" class="form-control" id="inputEmail3" placeholder="Blackwood">
                            </div>
                            </div>
                      </div>
                    </div>
                    <div class="row">
                        <div class="col">
                              <div class="form-group row pl-8">
                              <label for="inputEmail3" class="col-sm-3 col-form-label">Employee ID</label>
                              <div class="col-sm-9">
                                <input type="email" class="form-control" id="inputEmail3" placeholder="DLR001">
                              </div>
                              </div>
                        </div>
                        <div class="col">
                          <div class="form-group row pr-8">
                              <label for="inputEmail3" class="col-sm-3 col-form-label">User Name</label>
                              <div class="col-sm-9">
                                <input type="email" class="form-control" id="inputEmail3" placeholder="DelCharlotte">
                              </div>
                              </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col">
                              <div class="form-group row pl-8">
                              <label for="inputEmail3" class="col-sm-3 col-form-label">Contact Num.</label>
                              <div class="col-sm-9">
                                <input type="email" class="form-control" id="inputEmail3" placeholder="+1 3234 122334">
                              </div>
                              </div>
                        </div>
                        <div class="col">
                          <div class="form-group row pr-8">
                              <label for="inputEmail3" class="col-sm-3 col-form-label">Email ID</label>
                              <div class="col-sm-9">
                                <input type="email" class="form-control" id="inputEmail3" placeholder="mail@delrio.us">
                              </div>
                              </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col">
                              <div class="form-group row pl-8">
                              <label for="inputEmail3" class="col-sm-3 col-form-label">Designation</label>
                              <div class="col-sm-9">
                                <input type="email" class="form-control" id="inputEmail3" placeholder="Employee">
                              </div>
                              </div>
                        </div>
                        <div class="col">
                            <div class="row d-flex justify-content-center">
                                <div class="btn ml-5 btnPV"> Edit</div>
                            </div>
                           
                        </div>
                      </div>
                  </form>
            </div>
        </div>
        <!-- <div class="row p-3">
            <div class="card p-3 cardStyle cardImg2">
            </div>
        </div> -->
        <div class="row p-3">
            <div class="card p-3 cardStyle">
                <div class="row px-8 py-3">
                        <div class="cardTopH">Select Theme</div>
                        <div class="btn ml-5 btnPV"> Apply</div>
                </div>
                <div class="row px-5">
                    <div class="col-4">
                        <div class="row px-5 py-3">
                            <mat-radio-button class="CardH" value="before"(change)="call('cd1')">Default Theme</mat-radio-button>
                        </div>
                        <div class="row px-3 ">
                            <div class="card cardS cardImgth1" id="cd1" [class.cardSB]="isClassAdded1">

                            </div>
                        </div>
                        <div class="row px-5 py-2">
                            <div class="col-5 CardP">
                                Font: Open Sans
                            </div>
                            <div class="col-3">
                                <div></div><div></div><div></div>
                            </div>
                            <div  class="col-4 CardP d-flex justify-content-end">Aa Bb Cc</div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="row px-5 py-3">
                            <mat-radio-button class="CardH" value="before" (change)="call('cd2')">Casual Theme</mat-radio-button>
                        </div>
                        <div class="row px-3 ">
                            <div class="card cardS cardImgth2" id="cd2" [class.cardSB]="isClassAdded2">

                            </div>
                        </div>
                        <div class="row px-5 py-2">
                            <div class="col-5 CardP">
                                Font: Open Sans
                            </div>
                            <div class="col-3">
                                <div></div><div></div><div></div>
                            </div>
                            <div  class="col-4 CardP d-flex justify-content-end">Aa Bb Cc</div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="row px-5 py-3">
                            <mat-radio-button class="CardH" value="before" (change)="call('cd3')">Dark Theme</mat-radio-button>
                        </div>
                        <div class="row px-3 ">
                            <div class="card cardS cardImgth3" id="cd3" [class.cardSB]="isClassAdded3">

                            </div>
                        </div>
                        <div class="row px-5 py-2">
                            <div class="col-5 CardP">
                                Font: Open Sans
                            </div>
                            <div class="col-3">
                                <div></div><div></div><div></div>
                            </div>
                            <div  class="col-4 CardP d-flex justify-content-end">Aa Bb Cc</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
