<!-- 
<mat-tab-group animationDuration="0ms">
  <mat-tab label="First" >
  </mat-tab>
  <mat-tab label="Second">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/V056WNg3ECo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </mat-tab>
  <mat-tab label="Third">
    <h1>live video will come here</h1>
    <video autoplay muted loop class="Video">
      <source src="../../../assets/video/transport_-_23232 (1080p).mp4" type="video/mp4">
    </video>
  </mat-tab>
</mat-tab-group>
 -->
 <video #video autoplay playsinline ></video>