.bgSt{
    background: rgba($color: #000000, $alpha: .4);
}

.btnEdit{
  color: white;
  width: 150px;
  background: rgba(137, 197, 65, 1);
  border-radius: 25px;
  text-align: center;
  font-family: Open Sans;
  font-weight: SemiBold;
  font-size: 15px;
}

.videoBox{
  height: auto;
  width: 500px;
}

#myVideo {
  position: relative;
  right: 0;
  bottom: 0;
  width: 60%; 
  height: auto; 
}

.video-container {
  width: 100%;
  // height: 120%;
  // border: 1px solid #ccc;
  overflow: hidden;
}

.video-container video {
  width: 100%;
  height: 100%;
}

.overlay-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.overlay-content {
  color: #fff;
  font-size: 24px;
  text-align: center;
}