.bgSt{
    background: rgba($color: #000000, $alpha: .4);
}

.btnEdit{
  color: white;
  width: 150px;
  background: rgba(137, 197, 65, 1);
  border-radius: 25px;
  text-align: center;
  font-family: Open Sans;
  font-weight: SemiBold;
  font-size: 15px;
}