
.defaultTheme{
    background: rgba(249,249,249,1);
    
.avaI{
    height: 80px;
    width: 80px;
}

.sSty{
    background: white;
    border: 0px;
    box-shadow: 2px 9px 18px rgba(0, 0, 0, 0.019999999552965164);
}

.name{
    width: 395px;
    color: rgba(40,40,40,1);
    font-family: Open Sans;
    font-weight: Regular;
    font-size: 32px;
    text-align: left;
}
.desi{
    width: 158px;
    color: rgba(132,132,132,1);
    font-family: Open Sans;
    font-weight: SemiBold;
    font-size: 18px;
    text-align: left;
}

}

.casualTheme{
    background: rgba(249,249,249,1);
    
.avaI{
    height: 80px;
    width: 80px;
}

.sSty{
    background: white;
    border: 0px;
    box-shadow: 2px 9px 18px rgba(0, 0, 0, 0.019999999552965164);
}

.name{
    width: 395px;
    color: rgba(40,40,40,1);
    font-family: Open Sans;
    font-weight: Regular;
    font-size: 32px;
    text-align: left;
}
.desi{
    width: 158px;
    color: rgba(132,132,132,1);
    font-family: Open Sans;
    font-weight: SemiBold;
    font-size: 18px;
    text-align: left;
}

}
.darkTheme{
    background: #363636;
    
.avaI{
    height: 80px;
    width: 80px;
}

.sSty{
    background: white;
    border: 0px;
    box-shadow: 2px 9px 18px rgba(0, 0, 0, 0.019999999552965164);
}

.name{
    width: 395px;
    color: #EFEFEF;
    font-family: Open Sans;
    font-weight: Regular;
    font-size: 32px;
    text-align: left;
}
.desi{
    width: 158px;
    color: #BCBCBC;
    font-family: Open Sans;
    font-weight: SemiBold;
    font-size: 18px;
    text-align: left;
}

}


