<div class="container-flud">
  <div class="row">
    <div class="col-4 pl-5">
      <div class="row p-4 d-flex justify-content-start">
        <img
          width="40%"
          src="../../../assets/img/Landing/v3_4.png"
          alt="Logo"
        />
      </div>
    </div>
    <div class="col-8">
      <div class="row p-4 d-flex justify-content-end">
        <h1 class="btn btn-outline-success mx-2 btnMenu">Home</h1>
        <h1 class="btn btn-outline-success mx-2 btnMenu">About Us</h1>
        <h1 class="btn btn-outline-success mx-2 btnMenu">Our Solution</h1>
        <h1 class="btn btn-outline-success mx-2 btnMenu">Contact Us</h1>
        <h1 class="btn btn-outline-success mx-2 btnMenu">Login</h1>
        <h1 class="btn btn-outline-success mx-2 btnMenu">Signup</h1>
      </div>
    </div>
  </div>
  <div class="row mainImg">
    <img
      src="../../../assets/img/Landing/imgWall.jpg"
      alt="wall"
    />
  </div>
  <div class="row d-block">
    <div class="mainH">
      Automated Radio Frequency Identification done in minutes
    </div>
    <div class="mainP">
      The Del Rio Pass program employs cutting-edge radio-frequency
      identification (RFID) technology to accurately identify member vehicles
      and seamlessly deduct toll charges from their pre-paid accounts. Applying
      for an account is conveniently available either through this website or in
      person at the esteemed Del Rio Pass Office located at the International
      Bridge.
    </div>
    <div class="btn btn-success ml-8 btnPass">Get your Del Rio Pass</div>
  </div>
</div>
<div class="container-flud">
  <div class="row py-8 ml--8">
    <div class="col">
      <img
        width="110%"
        src="../../../assets/img/Landing/v14_157.png"
        alt="second image"
      />
    </div>
    <div class="col">
      <div class="secondH">All data collected and presented at one place</div>
      <div class="secondP">
        As you approach the toll lane, please drive at a reduced speed as toll
        collectors and maintenance staff frequently move in the area for safety
        reasons. Once your Del Rio Pass transponder is detected by the antenna
        near the toll booth, the traffic light will turn green and the gate will
        open automatically if your account is in good standing. However, if
        there are any issues with your account, such as insufficient funds, the
        traffic light will remain red, and you will be required to pay the toll
        collector in cash.
      </div>
    </div>
  </div>
</div>
<div class="container-flud py-5">
  <div class="row px-5">
    <div class="col-5 p-4">
      <div class="card p-5">
        <div class="cardH">Automated Identification</div>
        <div class="cardP">
          As you enter the toll lane, a sleek antenna perched near the toll
          booth scans the details encrypted within your mighty Del Rio Pass
          transponder.
        </div>
      </div>
    </div>
    <div class="col-7 p-4">
      <div class="card p-5">
        <div class="cardH">Both credit card or cash can be used</div>
        <div class="cardP">
          Customers have the flexibility to fuel their accounts with either
          credit card or cash, while a toll amount is promptly calculated and
          deducted from your Del Rio Pass account's prepaid balance upon each
          bridge crossing.
        </div>
      </div>
    </div>
  </div>
  <div class="row px-5">
    <div class="col-7 p-4">
      <div class="card p-5">
        <div class="cardH">Amount Auto added to the account</div>
        <div class="cardP">
          As the balance of your Del Rio Pass account approaches the "low
          threshold," it will seamlessly recharge from your registered credit
          card, while cash-paying customers must visit the Del Rio Pass office
          at the International Bridge to add funds to their respective accounts.
        </div>
      </div>
    </div>
    <div class="col-5 p-4">
      <div class="card p-5">
        <div class="cardH">Easy Installation</div>
        <div class="cardP">
          Transponders come with clear and user-friendly installation
          instructions for effortless setup.
          <br />
          <br />
          <br />
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-flud pt-5">
  <div class="row">
    <div class="col p-0 contact">
      <div class="row px-8 pt-6 d-block">
        <div class="row contactH">Get in Touch</div>
        <form>
          <div class="form-row py-2">
            <div class="col">
              <input type="text" class="form-control" placeholder="Ful Name">
            </div>
          </div>
          <div class="form-row py-2">
            <div class="col">
              <input type="text" class="form-control" placeholder="Email Id">
            </div>
            <div class="col">
              <input type="text" class="form-control" placeholder="Contact number">
            </div>
          </div>
          <div class="form-row py-2">
            <div class="col">
              <input type="text" class="form-control msg" placeholder="Type your message here">
            </div>
          </div>
        </form>
        <div class="row">
          <div class="col-4">
            <div class="btn_send">
              Send
            </div>
          </div>
          <div class="col-8 contactM">
            Thank you for contacting us, our concerned team will get in touch
            with you soon
          </div>
        </div>
      </div>

    </div>
    <div class="col p-0">
      <img width="100%" src="../../../assets/img/Landing/v14_143.png" alt="last image">
    </div>
  </div>

</div>

 